.title-photo{
    width: 100%;
}
.title-photo img{
    height: 100vh;
    width: 100%;
}
.title{
    width: 50%;
    margin-left: 37%;
    margin-bottom: 10px;

}
.intro{
    background-color: whitesmoke;
}
.title img{
    border-radius: 50%;
    border: 3px solid rgb(73, 166, 253);
    margin-top: 20px;
    margin-left: 5%;
}
.heading{
    color: rgb(73, 166, 253);
}
.para-text{
    color: rgb(105, 105, 105) !important;
}
.fs-4 {
    font-size: calc(2.0rem + .3vw) !important;
}
.resume-page{
    background-color: whitesmoke;
}
.intro{
    margin-top: 10px;
    
}
.background{
    background-color: whitesmoke !important;
}
.card-body{
    color:rgb(105, 105, 105);
}
.about-heading{
    color: rgb(45, 9, 204);
    text-align: center;
    border:2px dotted brown ;
    
}
.contact-section{
    display: flex;
    gap: 30px;
    justify-content: center;
}
.name-dv{
    font-weight: 900;
}
@media (max-width:550px) {
    .title-photo img{
        height: 150px;
        width: 100%;
    }
    .title{
        width: 50%;
        margin-left: 25%;
        margin-bottom: 10px;
    }
    .title-text{
        margin-left: 35%;
    }
}